
*{
    
    box-sizing: border-box;

}


body {

    width: 90%;
    font-family: 'Trebuchet MS';
    padding: 20px;
    margin-left: auto;
    margin-right: auto;

}


section {

    float:left;
    width: 40%;

}

nav {

    float: left;
    width: 40%;

}


a:hover {
    
    background-color: red;
        
}
    



palkki {

    width: auto;

}

